html * {
    font-family     : Verdana, Tahoma, Arial, Helvetica, Sans-Serif;
    font-size       : 14px;
    line-height     : 22px;
}

ul {
    list-style-type : none;
}

html *, a {
    text-decoration : none;
}

.title {
    font-weight : bold;
}
