body {
    margin : 0px;
    overflow-y : scroll;
}

#wrapper {
    margin : 0px auto 0px auto;
    width : 600px;
}

.length, .menuRight {
    float : right;
}

.menuBar {
    padding-top : 10px;
    padding-bottom : 50px;
}

.menuLeft a, .timespan a, .properties > a > :not(:last-child) {
    margin-right : 10px;
}

.menuRight a{
    margin-left : 10px;
}

.menuLeft {
    float : left;
}

.objectList, .attributeList {
    margin-bottom : 25px;
}

.timespan, .total {
    margin-bottom : 10px;
}

.objectRow, .row {
    height : 23px;
}

.title {
    padding-bottom : 6px;
}

.title > div, .row > div, .menuBar > div > div{
    display : inline;
}

.bar {
    border-radius: 2px;
    position: absolute;
    background-color : #ddd;
    z-index: -1;
    height: 21px;
}

.totalRow > .row {
    height: 24px;
    padding-left : 3px;
    padding-right : 3px;
}

.tags {
    padding-left : 7px;
}

.tag {
    background-image : url('/Bh/Page/images/middle.png');
    margin-right : 14px;
    background-repeat: repeat-x;
}

.tag::before {
    content : '';
    width : 7px;
    height : 16px;
    margin : 3px 0px 0px -6px;
    position : absolute;
    background-image : url('/Bh/Page/images/start.png');
    background-repeat: no-repeat;
}

.tag::after {
    content : '';
    padding-left : 2px;
    margin-left : 2px;
    background-image : url('/Bh/Page/images/end.png');
    background-repeat: no-repeat;
}
