body {
    margin          : 0px;
    overflow-y      : scroll;
}

#wrapper {
    margin          : 0px auto 0px auto;
    width           : 701px;
}

.start {
    float : left;
    width : 90px;
}

.activity {
    float : left;
    width : 220px;
}

.length {
    float : right;
}

.day {
    padding-top : 20px;
}
