body {
    margin : 0px;
    overflow-y : scroll;
}

#wrapper {
    margin : 0px auto 0px auto;
    width : 650px;
}

.start {
    width : 95px;
}

.activity {
    width : 220px;
}

.length, .menuRight {
    float : right;
}

.menuBar {
    padding-top : 10px;
    padding-bottom : 50px;
}

.menuLeft a, .timespan a {
    margin-right : 10px;
}

.menuRight a{
    margin-left : 10px;
}

.menuLeft, .activity, .start{
    float : left;
}

.objectList, .attributeList {
    margin-bottom : 25px;
}

.timespan, .total {
    margin-bottom : 10px;
}

.objectRow, .row {
    height : 23px;
}

.title {
    padding-bottom : 6px;
}

.title > div, .row > div, .menuBar > div > div{
    display : inline;
}

.bar {
    border-radius: 2px;
    position: absolute;
    background-color : #ddd;
    z-index: -1;
    height: 21px;
}

.totalRow > .row {
    height: 24px;
    padding-left : 3px;
    padding-right : 3px;
}
